---
layout: default
pagination: 
  enabled: true
---
{% if paginator.total_pages == 0 %}
<h2>No post found!</h2>
{% else %}
<div class="grid grid-cols-1 divide-y">
    {% for post in paginator.posts %}
    <div class="transform transition duration-200 hover:bg-blue-50">
        <div class="py-3 px-4">
            <a href="{{ site.baseurl }}{{ post.url }}">
                <div class="px-2 transform transition duration-100">
                    <div class="my-1 py-1 text-xs flex justify-left items-center">
                        <span class="text-orange-700"><time>{{ post.date | date: "%b/%d/%Y" }}</time></span>
                        &nbsp;
                        <span class="text-purple-700">&nbsp;{{ post.author }}</span>
                    </div>
                    <div class="my-2 py-2 text-xl text-gray-800">
                        {{ post.title }}
                    </div>
                    <div class="pb-2 text-gray-600">
                        {{ post.excerpt }}
                    </div>
                </div>
            </a>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}

{% include paginator.html %}