<div class="prose max-w-none">
    <p>Younghoon Jung is an engineering-minded Math Ph.D. who works for the Platform Advanced Research Lab of Samsung
        SDS.
    </p>
    <p>Before joining the current lab, Younghoon developed a data analysis workflow tool called the Brightics A. I. and
        contributed to an open-source software called the Brightics Studio as a member of the Analytics platform lab.
    </p>
    <p>Younghoon has a variety of backgrounds including mechanical engineering(BE), mathematics(Ph.D.), and software
        development, which allows him to understand the grand scheme of the underlying problem like a mechanical
        engineer,
        analyze the principal details like a mathematician, and write code like a software engineer.
    </p>
    <p>Younghoon Jung holds a Ph.D. in Mathematics from the KAIST, Korea. During his Ph.D. he researched
        Interface
        problems and wrote several journal papers. In particular, he developed a new geometric series solution
        method for harmonic problems based on the geometric function theory that applies to a domain of very

        arbitrary shape. This research work proves his talents, creativity, and persistence.</p>
</div>