{% assign sep = "$s!e^p#%" %}
{% assign maybeMaxCount = 10000 %}

{% capture tags %}
{% for tag in site.tags %}
{{ tag[1].size | plus: maybeMaxCount }}#{{ tag[0] | slugize }}#{{ tag[1].size }}#{{sep}}
{% endfor %}
{% endcapture %}

{% assign sorted = tags | split: sep | sort | reverse %}

<div class="cloud">
  {% for tag in sorted %}
  {% assign stripped = tag | strip %}
  {% if stripped.size > 0 %}
  {% assign item = stripped | split: '#' [1]%}
  <div class="cloud-drop my-1 mx-1">
    <div class="btn drop container px-3 py-1">
      <a href="archives/tag/{{ item[1] | slugify }}">
        <span>{{ item[1] }} ({{ item[2] }})</span>
      </a>
    </div>
  </div>

  {% endif %}
  {% endfor %}
</div>