<div class="mx-2 my-3">
    {% if site.posts.size == 0 %}
    <h2>No post found!</h2>
    {% else %}
    {% assign postsByYear = site.posts | group_by_exp:"post", "post.date | date: '%Y'" %}
    <div>
        {% for year in postsByYear %}
        <div>
            <span class="text-2xl">
                {{ year.name }}
            </span>
        </div>
        <div>
            {% for post in year.items %}
            <div class="relative px-1 rounded-lg">
                <a href="{{ site.baseurl }}{{ post.url }}">
                    <div class="flex">
                        <div class="w-1/12 flex justify-center items-center">
                            <div class="absolute h-full border-2 border-gray-200"></div>
                            <div class="rounded-full bg-gray-200 dot"></div>
                        </div>
                        <div
                            class="w-11/12 bg-gray-50 my-2 shadow-md rounded-md p-2 transform transition duration-300 hover:scale-110 hover:bg-white hover:absolute z-10">
                            <div class="flex flex-col">
                                <span class="text-sm"><time>{{ post.date | date: "%b/%d/%Y" }}</time></span>
                                <span class="text-xl text-gray-900">
                                    {{ post.title }}
                                </span>
                                <span class="text-xs">
                                    By {{ post.author }}
                                </span>
                                <span class="text-base text-gray-500">
                                    {{ post.description }}
                                </span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>