<form id="search-form" class="w-full" role="form" onsubmit="return" method="get" action="{{ "/search.html" | preprend:
    site.baseurl }}">
    <input class="w-full pr-2 md:pr-4 md:pt-1 h-8 mx-6 md:mx-8 rounded font-light text-md focus:outline-none" id="search" type="text"
        name="query" placeholder="Search this Blog">
    </input>
</form>
<button class="search-icon mx-6 text-gray-300 top-0 group-hover:text-blue-300">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <circle cx="11" cy="11" r="7"></circle>
        <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
    </svg>
</button>