.btn {
  display: inline-block;
  font-family: inherit;
  font-weight: inherit;
  line-height: $btn-line-height;
  color: $btn-font-color;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  user-select: none;
  background-color: $btn-base-color;
  border: $btn-border-width solid transparent;
  padding: $btn-padding-y $btn-padding-x;
  font-size: $btn-font-size;
  border-radius: $btn-border-radius;
  @include transition($btn-transition);

  &:hover {
    color: $btn-base-color;
    text-decoration: null;
  }

  .btn-check:focus + &,
  &:focus {
    outline: 0;
    box-shadow: $btn-focus-box-shadow;
  }

  .btn-check:checked + &,
  .btn-check:active + &,
  &:active,
  &.active {
    text-decoration: none;
    background-color: darken($btn-base-color, 1%);

    &:focus {
      text-decoration: none;
      outline: none;
      box-shadow: inset 0 0 0 2px $gray-dk-100, 0 0 0 3px rgba(blue, 0.25);
    }
  }

  &:disabled,
  &.disabled,
  fieldset:disabled & {
    pointer-events: none;
    opacity: 0.5;
    @include box-shadow(none);
  }
}
