.bg-white {
  background-color: $white;
}

.bg-black {
  background-color: $black;
}

.bg-wineblack {
  background-color: $wineblack;
  color: $goldish !important;
}

.text-wineblack{
  color: $wineblack !important;
}