h1{
  @include fs-9;
}

h2{
  @include fs-7;
}

h3{
  @include fs-6;
}

h4{
  @include fs-5;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

h5{
  @include fs-3;
  color: $gray-dk-200;
}

h6{
  @include fs-2;
  color: $gray-dk-200;
}

.text-sm {
  @include fs-2;
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}
