.katex-display {
    overflow-x: auto !important;
    padding-top: 0.6rem !important;
    padding-bottom: 0.6rem !important;
  }

.strong-first::first-letter{
  text-transform: capitalize !important;
  font-size: 2rem;
}
.dot{
  width: 14px;
  height: 14px;
  border-radius: 7px;
}