---
layout: compress
---

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        {% if page.title %}
        {{ page.title }} — {{ page.subtitle }}
        {% else %}
        {{ site.title }}
        {% endif %}
    </title>
    {% comment %}
    {% if page.description %}
    <meta name="description" content="{{ page.description }}" />
    {% endif %}
    {% if page.tags %}
    <meta name="keywords" content="{{ page.tags | join: ', ' }}">
    {% endif %}
    {% endcomment %}
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300;400;500;700&display=swap"
        rel="stylesheet">
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <link rel="stylesheet" href="{{ " /assets/vendor/katex/katex.min.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ " /assets/vendor/prism/prism.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" type="text/css" href="{{ " /assets/css/styles.css" | prepend: site.baseurl }}">

</head>

<body class="font-roboslab bg-fafafa">
    {% if page.url == "/" %}
    <div class="flex h-screen">
        <div class="max-w-2xl m-auto px-4">
            <section>
                {{ content }}
            </section>
            {% include footer.html %}
        </div>
    </div>
    {% else %}
    <div class="px-2">
        <header class="max-w-4xl mx-auto">
            {% include navbar.html %}
            <div class="placeholder h-16"></div>
        </header>
    </div>
    <div class="max-w-2xl m-auto">
        <section class="flex">
            {{ content }}
        </section>
        <div class="placeholder h-12"></div>
        <hr>
        <div class="placeholder h-7"></div>
        {% include footer.html %}
    </div>
    {% endif %}

    <script src="{{ " /assets/vendor/prism/prism.js" | prepend: site.baseurl }}"></script>
    <script src="{{ " /assets/vendor/katex/katex.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ " /assets/vendor/katex/contrib/auto-render.min.js" | prepend: site.baseurl }}"></script>
    <script type="text/javascript">
        renderMathInElement(document.body, {
            delimiters: [
                { left: "$$", right: "$$", display: true },
                { left: "\\[", right: "\\]", display: true },
                { left: "$", right: "$", display: false },
                { left: "\\(", right: "\\)", display: false }]
        });
    </script>
</body>

</html>