---
layout: compress
---

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% if page.title %}
        {{ page.title }} — {{ page.subtitle }}
        {% else %}
        {{ site.title }}
        {% endif %}
    </title>
    {% comment %}
    {% if page.description %}
    <meta name="description" content="{{ page.description }}" />
    {% endif %}
    {% if page.tags %}
    <meta name="keywords" content="{{ page.tags | join: ', ' }}">
    {% endif %}
    {% endcomment %}
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;700&display=swap" rel="stylesheet">
    {% comment %}
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    {% endcomment %}
    {% if page.latex %}
    <link rel="stylesheet" href="{{ " /assets/vendor/katex/katex.min.css" | prepend: site.baseurl }}">
    {% endif %}
    {% if page.hascode %}
    <link rel="stylesheet" href="{{ " /assets/vendor/prism/prism.css" | prepend: site.baseurl }}">
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{{ " /assets/css/styles.css" | prepend: site.baseurl }}">

</head>


<body class="font-roboslab">
    {% if page.url == "/" %}
    <!-- this is for index page -->
    <div class="flex h-screen">
        <div class="max-w-2xl m-auto px-4">
            <section>
                {{ content }}
            </section>
            {% include footer.html %}
        </div>
    </div>
    {% else %}
    <!-- this is for non index page -->
    <div class="max-w-4xl mx-auto md:items-start">
        <div class="mx-2 md:hidden">
            <header>
                {% include navbar.html %}
            </header>
        </div>
        <div class="relative min-h-screen md:flex">
            <div class="hidden md:block md:w-1/4 md:sticky top-20 pr-3 md:h-full">
                {% include sidenav.html %}
            </div>
            <div class="max-w-2xl md:w-3/4 border-l">
                <div class="flex h-10 md:h-14 border-b border-t md:border-t-0 items-center group">
                    {% include search-form.html %}
                </div>
                <section id="section-search-results" class="hidden">
                    <div class="search-results my-3">
                        <div id="search-header" class="px-6 font-light"></div>
                        <div class="grid grid-cols-1 divide-y">
                            <div id="search-results-list"></div>
                        </div>
                    </div>
                </section>
                <section id="section-normal">
                    {{ content }}
                </section>
                <div class="pt-20">{% include footer.html %}</div>
            </div>
        </div>
    </div>
    {% endif %}


    {% if page.hascode %}
    <script src="{{ " /assets/vendor/prism/prism.js" | prepend: site.baseurl }}"></script>
    {% endif %}
    {% if page.latex %}
    <script src="{{ " /assets/vendor/katex/katex.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ " /assets/vendor/katex/contrib/auto-render.min.js" | prepend: site.baseurl }}"></script>
    <script type="text/javascript">
        renderMathInElement(document.body, {
            delimiters: [
                { left: "$$", right: "$$", display: true },
                { left: "\\[", right: "\\]", display: true },
                { left: "$", right: "$", display: false },
                { left: "\\(", right: "\\)", display: false }]
        });
    </script>
    {% endif %}
    <script src="{{ " /assets/vendor/lunr/lunr.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ " /assets/js/search.js" | prepend: site.baseurl }}"></script>

    {% if page.url == "/" %}
    <script>
        (function() {
            var elements = document.querySelectorAll(".animate-index");
            for (var i = 0; i < elements.length; i++) {
                const elem = elements[i];
                setTimeout(() => elem.classList.add("load"), 60 * i);
                setTimeout(() => elem.classList.remove("animate-index", "load"), 600 + 80 * (i + 1));
            }
        }());
    </script>
    {% endif %}
</body>

</html>